body{
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table{
    border-collapse: collapse;
    width: 80%;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th{
    background: #4f46e5;
    color: white;
    padding: 12px;
}

td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){
    background: #f9fafb;
}

tr:hover{
    background: #eef2ff;
}

.tong{
    font-weight: bold;
    background: #dbeafe;
    color: #1e3a8a;
}