img{
    width:80%;
    max-width:200px;
    vertical-align:middle;
    padding:10px;
    border-radius:25%;
}

div.container{
    margin:10px 50px 0px 50px;
    background-color:#ffe5d0;
    padding:15px;
    border-radius:5%;
}

table,tr,td{
    border:1px solid #ff9f68;
    border-collapse:separate;
    background-color:#ffcba4;
}

td#cot1,td#cot2{
    text-align:center;
    padding:10px;
    color:#d35400;
    background-color:#fff1e6;
    
}

table.demo{
    background-color:#ffe8d6;
}

td:hover{
    background-color:#ffb385;
    color:#8b4513;
}