body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffd1dc, #ffb6a3);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

h2{
    color: #ff6f91;
    margin-top: 15px;
}

.gia{
    color: #ff8a65;
    font-size: 22px;
    font-weight: bold;
}

.product-list{
    display: flex;
    gap: 20px;
    overflow-x: auto; 
}

.mota{
    color: #666;
    line-height: 1.5;
}

a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff8fab;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

a:hover{
    background-color: #ff6f91;
}